* {
  margin: 0;
  padding: 0;
}
/* import font  */
@font-face {
  font-family: Roboto;
  src: url(./../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Roboto;
  src: url(./../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: normal;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  background-color: black;

  color: #fff;
  height: 100vh;
  line-height: 1.6;
  overflow: hidden;
}

a {
  transition: all 0.2s;
  color: white;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  opacity: 0.5;
  color: white;
  text-decoration: none;
}
/* how to make your mouse circle */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: transparent;
  z-index: 3000;
  /* transition: .1s; */
}
@media screen and (max-width: 769px), (width: 980px) {
  .cursor {
    display: none !important;
    visibility: hidden;
    opacity: 0;
  }
}

.intro {
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.intro-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0;
  /* CSS Smooth Scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.lead {
  font-size: 1.5rem;
}

.navbar {
  position: absolute;
  left: -250px;
  z-index: 99;
  display: flex;
  width: 40%;
  height: 100vh;
  padding-left: 20px;
  background: transparent;
  border-radius: 0;
  border: none;
  display: none;
}
@media screen and (max-width: 481px){
	.navbar {
  	width: 100%;
	}
}
.navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.hamb {
  position: fixed;
  top: 30px;
  left: 40px;
  z-index: 99;
  font-size: 2.5em;
  color: white;
}
.red {
  /* visibility: visible !important; */
  color: red !important;
}
/* nền bong bóng */
#bubble {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  position: fixed;
  display: none;
  z-index: 98;
  background: rgba(0, 0, 0, 0.8);
}
.navbar ul li a {
  text-transform: uppercase;
  color: #f4f4f4 !important;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  transition: all 0.2s ease;
}

.navbar ul li a:hover {
  transform: translate(10px);
  text-shadow: 5px 0px 1px #14afafab;
}
.navbar ul li div {
  width: 20px;
}
/*
.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}


.navbar ul li a:hover {
  color: skyblue;
}
*/

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* width: 100%; */
  height: 100vh;

  /* Scroll Snap */
  scroll-snap-align: center;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
@media screen and (max-width: 500px) {
  section {
    /* scroll-snap-align: none !important; */
    /* scroll-behavior: initial;
    scroll-snap-type: initial; */
  }
}
section h1 {
  font-size: 4rem;
}

/* Section Images */

/* home */
section#home {
  position: relative;
  background-color: grey;
}
.myVideo {
  position: absolute;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  width: 170px;
  height: 170px;
  overflow: hidden;
  border-radius: 50%;
  background-image: url("./../imgs/avatar.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: none;
}
#home .avatar::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  border: 1px solid white;
  transition: all 0.5s;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: transparent !important;
}
@media screen and (max-width: 769px) {
  #home .avatar::after {
    display: none !important;
  }
}

#home .avatar:hover::after {
  /* transform: scale(100);
  border: 1px solid white; */
  width: 170px;
  height: 170px;
  top: 0;
  left: 0;
  opacity: 1;
}

.moon {
  position: relative;
  width: 150px;
  height: 150px;
  opacity: 0.29;
  margin: 0 30px;
  border-radius: 50%;
}
.moonchild {
  position: absolute;
  top: 0;
  right: 0;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.left .moonchild:first-child {
  background-color: white;
  transform: translate(16px);
  transition: all 0.5s;
}
.left:hover .moonchild:first-child {
  transform: translate(-30px);
}
.left .moonchild:nth-child(1) {
  transform: translate(-16px);
  box-shadow: 16px 0 0 0 #14afaf;
}
.left:hover .moonchild:nth-child(1) {
  box-shadow: 30px 0 0 0 #14afaf;
}

.moon.right {
  margin-left: 50px;
}
.right .moonchild:first-child {
  transition: all 0.5s;

  background-color: #14afaf;
}
.right:hover .moonchild:first-child {
  transform: translate(20px);
}
.right .moonchild:last-child {
  position: relative;
  top: 0;
  right: 0;
  width: 150px;
  opacity: 0.5;
  height: 150px;
  border-radius: 50%;
  background-color: white;

  transform: translate(-20px);
}

#home .text,
#about .text {
  position: absolute;
  top: 60%;
  color: white;
}
h2 {
  font-weight: bold;
  text-transform: lowercase;
  color: rgba(255, 255, 255, 0.815);
  text-shadow: 3px 0px 1px #14afafab;
  letter-spacing: 0.1em;
}

/* scroll button  */
.mouse-arrow span {
  display: block;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);

  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 6px;
}

.unu,
.doi,
.trei {
  animation: mouse-scroll 1s infinite;
  animation-direction: alternate;
}

.unu {
  animation-delay: 0.1s;
}

.doi {
  animation-delay: 0.2s;
}

.trei {
  animation-delay: 0.3s;
}

.scroll-button {
  position: absolute;
  bottom: 5%;
}
.mouse {
  height: 30px;
  width: 20px;
  border-radius: 10px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
}
.wheel {
  animation: mouse-wheel 1.2s ease infinite;
}
@keyframes mouse-wheel {
  0% {
    opacity: 1;
    transform: translateY(0);
    top: 1px;
  }
  50% {
    top: 2px;
  }
  100% {
    opacity: 0;
    transform: translateY(6px);
    top: 3px;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* about */
section#about,
section#pro1,
section#pro2 {
  position: relative;
  background-color: #171717;
}
.about-black {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #171717;
  top: 0;
  left: 0;
}
.moona {
  opacity: 1;
  margin-right: 7vw;
}
@media screen and (max-width: 769px) {
  .moona {
    margin-right: 5vw;
  }
}
@media screen and (max-width: 481px) {
  .moona {
    margin-right: 7vw;
  }
}
.moona .moonchild {
  opacity: 0.29;
  transition: all 0.2s ease;
}
.lefta .moonchild:first-child {
  opacity: 0.1;
  background-color: transparent;
}
.lefta:hover .moonchild:first-child {
  transform: translate(15px);
}
.lefta .moonchild:nth-child(2) {
  background-color: #14afaf;
  transform: translate(-16px);
  opacity: 1;
}
.lefta:hover .moonchild:nth-child(2) {
  transform: translate(0px);
  animation-delay: 0.2s;
}

.lefta .moonchild:nth-child(3) {
  transform: translate(-32px);
  background-image: url("./../imgs/avatar.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: none;
  opacity: 1;
}
.lefta .moonchild:nth-child(3)::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  border: 1px solid white;
  transition: all 0.5s;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: transparent !important;
}
.lefta .moonchild:nth-child(3):hover::after {
  /* transform: scale(100);
  border: 1px solid white; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
}
.lefta:hover .moonchild:nth-child(3) {
  transform: translate(-25px);
  animation-delay: 0.4s;
}
.lefta .moonchild:last-child {
  background-color: white;
  transform: translate(-50px);
}
.lefta:hover .moonchild:last-child {
  background-color: transparent;
  display: none;
  animation-delay: 0.6;
}
.centera {
  display: flex;
  align-self: center;
}
.centera .moonchild {
  background-color: white;
  opacity: 0.07;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.centera .moonchild:first-child {
  transform: translate(-35%);
}
.centera .moonchild:last-child {
  transform: translate(35%) scale(0.85);
}
.righta .moonchild {
  background-color: transparent;
  box-shadow: 30px 0 0 0 #14afaf;
}

#about .text {
  width: 36vw;
  text-align: left;
  right: 10%;
  top: 0;
}
@media screen and (max-width: 769px) {
  #about .text {
    width: 46vw;
  }
	
}
@media screen and (max-width: 481px) {
	.righta {
  	display: none;
	}
}

/* service section  */
section#service {
  text-align: left;
  align-items: flex-start;
  padding-left: 20vw;
  position: relative;
  background-color: black;
}

section#service::before {
  background: url(./../imgs/butterfly.gif) no-repeat center center/cover;
  filter: invert(100%);
  content: "";
  width: 30%;
  height: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0.3;
  transform: translate(-50%, -50%);
}
#service .myrow {
  width: 60vw;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 769px) {
  section#service {
    padding-left: 13vw;
  }
  #service .myrow {
    width: 80vw;
  }
}
#service .mycol {
  width: 30%;
  padding-right: 40px;
}
#service h2 {
  margin-bottom: 30px;
  margin-top: 50px;
}
#service .logo-tools {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: black;
  box-shadow: 3px -3px 0 0 #14afaf, 6px -6px 0 0 #14afaf3b;
  margin-bottom: 20px;
  transition: all 0.2s ease;
  font-size: 2.5rem;
}
#service .logo-tools:hover {
  box-shadow: 6px -6px 0 0 #14afaf, 12px -12px 0 0 #14afaf3b;
  font-size: 2rem;
}
#service .logo-tools p {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mycol ul {
  list-style-type: none;
  font-size: 1.5rem;
  line-height: 2;
}
.mycol li {
  transition: all 0.2s ease;
}
.mycol li:hover {
  transform: translate(10px);
}

/* progress bar  */
.progress-bar {
  width: 100%;
  height: 10px;
  position: relative;
  background: #e8e8e8;
}

.progress-bar .line {
  background: #e8e8e8;
}

.progress-bar .label {
  font-size: 30px;
}

.progress-bar > .line > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #14afaf;
}
@keyframes animationLoaded {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* cách 2 percent  */
.percent {
  width: 100%;
  height: 10px;
  position: relative;
  background-color: white;
}
.percent .run-percent {
  position: absolute;
  content: "";
  background-color: #14afaf;
  height: 10px;
}
.animate {
  animation: animationLoaded 2s linear infinite;
}

/* section product */
section#product {
  flex-direction: inherit;
  align-items: inherit;
  justify-content: inherit;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  background-color: black;
}
.btf {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.212);
  overflow: hidden;
}
.btf-img {
  width: 40%;
  object-fit: cover;
  opacity: 0.5;
  transition: all 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btf-gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 40%;
  object-fit: cover;
  filter: invert(100%);
  transition: all 0.5s ease;
  border: 1px solid rgba(255, 255, 255, 0.212);
}
.btf:hover .btf-img {
  opacity: 0;
}
.btf:hover .btf-gif {
  opacity: 0.5;
}
#product .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
}
#product .btf-back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 100%;
  opacity: 0.2;
  transition: all 5s ease;
}
@media screen and (max-width: 769px) {
  #product .btf-back {
    display: none;
  }
}
#product .btf:hover .btf-back {
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0.4;
}
#product .btf:hover .text {
  opacity: 0.3;
}
/* pro1 pro 2 */
.pro1-text {
  position: absolute;
  text-align: left;
  left: 10%;
}
.pro1-text-center {
  margin-top: 10vh;
}
.pro-text-icon {
  margin-top: 10vh;
  width: 30vw;
}
.pro1-text h2,
.pro1-text a,
.pro1-text p {
  transition: all 0.2s;
}
.pro1-text h2:hover,
.pro1-text a:hover,
.pro1-text p:hover {
  margin-left: 10px;
}
.pro-text-icon img {
  width: 20%;
  transition: all 0.2s;
}
.pro-text-icon img:hover {
  transform: scale(1.2);
}

.pro1-slide {
  position: absolute;
  right: 10%;
  width: 45%;

  /* nhớ xóa đi */
  /* display: none; */
}
.pro1-slide img {
  width: 100%;
}
.pro1-slide-shadow {
  width: 100%;
  height: 100%;

  transition: all 0.2s ease;
  box-shadow: 6px -6px 0 0 #14afaf, 12px -12px 0 0 #14afaf3b;
}
.pro1-slide-shadow:hover {
  box-shadow: 12px -12px 0 0 #14afaf, 24px -24px 0 0 #14afaf3b;
}
.pro1-back-moon .pro1-moonchild {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.pro1-back .left .pro1-moonchild {
  opacity: 0.2;
  left: 25%;
  box-shadow: -30px 0 0 0 #14afaf;
}
.pro1-back .right .pro1-moonchild {
  background-color: white;
  opacity: 0.07;
}
.pro1-back .right .pro1-moonchild:first-child {
  transform: translate(20%, -50%) scale(0.8);
}

/* pro2  */
.pro2-slide {
  position: absolute;
  right: 10vw;
}
@media screen and (max-width: 769px) {
  .pro2-slide {
    right: 0;
  }
	.pro1-slide img {
    width: 81%;
	}
}
@media screen and (min-width: 481px){
  .pro2-slide {
    right: 5vw;
  }
}

/* pro3 */
section#pro3 {
  /* background-image: url("./../imgs/bai\ doodle\ mien\ trung.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(100%);
  overflow: hidden; */
  position: relative;
}

section#pro3 .back-img {
  /* position: absolute;
  top: 50%; */
  margin-top: -15vh;
  width: 70vw;
  height: 80vh;
  filter: invert(100%);
  /* left: 50%; */
  object-fit: cover;
  /* transform: translate(-50%, -50%); */
  z-index: 0;
}
@media screen and (max-width: 769px) {
  section#pro3 .back-img {
    margin-top: -6vh;
    width: 70vw;
    height: 59vh;
    margin-left: -7vw;
  }
}
#pro3 .text {
  z-index: 1;
}

/* section contact */
section#contact {
  /* background: url("https://source.unsplash.com/2aAHlfDOhJM/1600x900") no-repeat center /cover; */
  position: relative;
}
#contact .pro1-back .right .pro1-moonchild {
  z-index: 2;
}
.pro1-back .right .pro1-moonchild {
  right: 25%;
}
.contact-back-icon {
  position: absolute;
  width: 110px;
  height: 100vh;
  background-color: #121212;
  /* border-right: 1px solid white; */
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 28vh;
  padding-bottom: 28vh;
  justify-content: space-around;
  text-align: center;
}
.contact-back-icon img {
  filter: invert(100%);
  width: 30%;
  transition: all 0.2s;
  /* margin-bottom: 40px; */
}
.contact-back-icon img:hover,
.contact-back-icon i:hover {
  transform: scale(1.2);
}
.contact-back-icon i {
  font-size: 4rem;
  transition: all 0.2s;
}
#contact h2 {
  margin-top: 0px;
}
#contact .pro1-text {
  left: 15%;
}

#contact .form-center {
  margin-top: 5vh;
}
@media screen and (max-width: 769px) {
  #contact .pro2-slide {
    display: none;
  }
  #contact .pro1-text {
    left: 24vw;
  }
}
@media screen and (max-width: 769px) {
	#contact .pro1-text {
    left: 30vw;
  }
}
.form-center input {
  padding: 7px 14px;
  font-size: 1.5rem;
  border: none;
  font-weight: bold;
  box-shadow: 3px -3px 0 0 #14afaf4f;
  color: black;
  outline: none;
  background-color: rgba(255, 255, 255, 0.9);
}
.form-center textarea {
  margin-top: 5px;
  height: 80px;
  padding: 7px 14px;
  font-size: 1.5rem;
  color: black;
  width: 100%;
  border: none;
  outline: none;

  font-weight: bold;
  box-shadow: 3px -3px 0 0 #14afaf4f;
  background-color: rgba(255, 255, 255, 0.9);
}
@media screen and (max-width: 481px){
	.form-center textarea {
    width: 43vw;
	}
}
.form-center button {
  margin-top: 5vh;
  padding: 7px 18px;
  background-color: transparent;
  transition: all 0.2s ease;
  border: 3px solid #14afaf;
  box-shadow: 3px -3px 0 0 #14afaf4f;
}

.form-center button:hover {
  opacity: 0.7;
  box-shadow: 3px -3px 0 0 #14afaf, 6px -6px 0 0 #14afaf3b;
}

/* sitemap */
#sitemap {
  display: block;
  position: relative;
  padding-top: 40vh;
  overflow: hidden;
}
/*
@media screen and (max-width: 481px){
	#sitemapball{
		width: 70%;
	} 
}
*/

#sitemapball {
  transform: perspective(500px);
  transform-style: preserve-3d;
  position: absolute;
  left: 50%;
  background-color: black;
  /* transform: translate(50%, -50%); */
  opacity: 0;
}

#sitemapball div {
  position: absolute;
  width: 100px;
  height: 100px;
  /* border: 1px solid white; */
  /* padding-top: 10px; */
  /* line-height: 100px; */
  /* transform: scale(-1, 1, 1); */
  text-align: center;
}
div.c3,
.div .c5 {
  overflow: hidden;
}
div.c3 .btf-gif,
.c5 .btf-gif {
  width: 110%;
  opacity: 1;
}

/* media  */
@media screen and (max-width: 481px) {
  .hidden-xs {
    display: none !important;
    visibility: hidden;
    opacity: 0;
  }
}
.hidde{
	display: block;
}
@media screen and (max-width: 481px) {
	.hidde{
		display: none;
	}
}